.vscode/
.idea/
.vs/
CMakeSettings.json

out/
x86/
x64/
Release*/
release*/
Debug*/
debug*/
cmake-*/

*.o
*.s
*.i
*.a
*.lib
*.liba
*.dll
*.ilk
*.exp
*.pdb
*.pro.user
*.zip

.backup/
lib*/
build*/
.build*/
android/openbabel/
android/opencv/
android/opencv
