.vscode/
.idea/
.vs/
.gradle/
.settings/
CMakeSettings.json

out/
x86/
x64/
Release*/
release*/
Debug*/
debug*/
cmake-*/

*.DS_Store
*.o
*.s
*.i
*.a
*.lib
*.liba
*.dll
*.ilk
*.exp
*.pdb
*.pro.user
*.zip
*.project

.backup/
lib*/
build*/
.build*/
android/openbabel/
android/opencv/
android/opencv
